body {
  background-color: cadetblue;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

